<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/muicss/0.9.3/js/mui.min.js"></script>
    <link href="//cdn.bootcss.com/muicss/0.9.3/css/mui.min.css" rel="stylesheet">
    <title>延长激活时间</title>
</head>
<script>
    $(function () {
        var form = $('form#delay_active');
        form.submit(function(){
            $("#tip").text('');
            data = form.serialize();
          $.post("/sales/manager/delay", data, function(data,status){
              $("#tip").text(data);
          });
            return false
        });
    });
</script>
<body>
{% extends "manager/navigation.html" %}
{% block title %}延长激活时间{% endblock %}
{% block content %}
 <div class="mui--text-center" style="margin-top:50px">
    <form action="/sales/manager/delay" method="post" class="mui-form--inline" id="delay_active">
      <div class="mui-textfield">
        <input type="text" name="serial_number" required="required" value="" placeholder="Nano序列号">
      </div>
      <button class="mui-btn mui-btn--raised mui-btn--primary">确认</button>
    </form>
</div>
<div class="mui--text-center" style="margin-top:100px">
    <h2 style="color:red"><strong id="tip"></strong></h2>
</div>

{% endblock %}
</body>
</html>