<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <script src="{{ lib_path }}/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/h5Validate/0.9.0/jquery.h5validate.min.js"></script>
    <link rel="stylesheet" href="/static/css/global.css"/>
    <link rel="stylesheet" href="//res.wx.qq.com/open/libs/weui/1.0.2/weui.min.css"/>
    <title>销售经理信息管理系统</title>
</head>
<body>
    <div class="weui-cells__title">销售经理登录</div>
    <form action="" id="login">
    <div class="weui-cells weui-cells_form">
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">工号</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" id="username" name="username" required="required" placeholder="请输入工号">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">密码</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" id="password" name="password" type="password" required="required"  placeholder="请输入密码">
            </div>
        </div>
        <div class="weui-cell">

        </div>
        <div class="weui_btn_area" style="margin-top:100px">
            <input type="submit" class="weui-btn weui-btn_primary register_submit" value="登录">
        </div>
    </div>
    </form>
    <div>
        <p id="tip"></p>
    </div>
</body>
<script>
    $(function () {
        $('form').h5Validate({
            errorClass: 'invalid'
        });
        var form = $('form#login');
        form.submit(function(){
            result = form.h5Validate('allValid');
            if (!result) {
                return false;
            }
            data = $('form#login').serialize();

            $.post("/sales/manager/login", data, function(data,status){
                console.log("Data: " + data + "\nStatus: " + status);
                if(data == 'success'){
                    $("#tip").text('登录成功！');
                    location.href = "/sales/manager/list"
                }
                else {
                    $("#tip").text(data);
                }
            });

            return false
        });
    });
</script>
</html>