<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/h5Validate/0.9.0/jquery.h5validate.min.js"></script>
    <script src="{{ lib_path }}/static/city_picker/js/city-picker.data.js"></script>
    <script src="{{ lib_path }}/static/js/exif.js"></script>
    <script src="{{ lib_path }}/static/city_picker/js/city-picker.js"></script>
    <link href="{{ lib_path }}/static/city_picker/css/city-picker.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ lib_path }}/static/css/global.css"/>
    <link rel="stylesheet" href="//res.wx.qq.com/open/libs/weui/1.0.2/weui.min.css"/>
    <title>销售经理信息管理系统</title>
</head>
<body>
<div class="weui-cells__title">门店修改</div>
<form action="" id="modify_store" enctype="multipart/form-data">
        <div class="weui-cells weui-cells_form"  style="overflow: visible">
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">门店名称</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" id="name" name="name" type="text" required="required" autofocus="autofocus" placeholder="请输入门店名" value="{{ store_info.name }}">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">线下地址</label>
                </div>
                <div class="weui-cell__bd">
                    <div>
                      <input type="text" id="city" name="city" required="required" data-toggle="city-picker" readonly="readonly" value="{{ store_info.province }}/{{ store_info.city }}" placeholder="请选择省/市" data-level="city">
                    </div>

                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <input class="weui-input" id="location" name="location" type="text" required="required" value="{{ store_info.location }}" placeholder="区/街道/楼">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">网店地址<br>(可选)</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" id="online" name="online" placeholder="" value="{{ store_info.online }}">
                </div>
            </div>
{#            <div class="weui-cell">#}
{#                <div class="weui-cell__hd">#}
{#                    <label class="weui-label">货源代理商</label>#}
{#                </div>#}
{#                <div class="weui-cell__bd">#}
{#                <div class="weui-cell weui-cell_select">#}
{#                    <div class="weui-cell__bd">#}
{#                        <select class="weui-select" id="agent" name="agent">#}
{#                            <option value="{{ store_info.agent }}">{{ store_info.agent }}</option>#}
{#                            {% for agent in agent_list %}#}
{#                                {% if agent.weight == '1' %}#}
{#                                    {% if agent.custom_number ==  store_info.agent %}#}
{#                                    <option value="{{ agent.custom_number }}" selected="selected">{{ agent.custom_name }}({{ agent.custom_number }})</option>#}
{#                                    {% else %}#}
{#                                    <option value="{{ agent.custom_number }}">{{ agent.custom_name }}({{ agent.custom_number }})</option>#}
{#                                    {% endif %}#}
{#                                {% endif %}#}
{#                            {% endfor %}#}
{#                        </select>#}
{#                    </div>#}
{#                </div>#}
{#                </div>#}
{#            </div>#}
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">销售经理编号</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" id="manager" name="manager" pattern="\S+" required="required"  placeholder="请输入销售经理编号" value="{{ store_info.manager }}">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">展台编号</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" id="exhibition" name="exhibition" readonly="readonly" required="required" placeholder="扫码获取展台信息" value="{{ store_info.exhibition}}">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <a href="javascript:;" class="weui-btn weui-btn_plain-primary" id="scan">扫码展台序列号</a>
                </div>
                <div class="weui-cell__hd" style="margin-left: 5px">
                    <a href="javascript:;" class="weui-btn weui-btn_plain-default" id="manual">手动添加</a>
                </div>
            </div>
            <div class="weui-cell" id="config">
                <div class="weui-cell__hd">
                    <label class="weui-label">展台配置</label>
                </div>
                <div class="weui-cell__bd">
                <div class="weui-cell__hd" id="machine_serial_div"  {% if store_info.option.machine != 'true' %}style="display: none"{% endif %}>
                    <input type="text" class="weui-input" id="machine_serial" placeholder="   请输入样机序列号" value="{{ store_info.machine_serial }}">
                    <a href="javascript:;" class="weui-btn weui-btn_plain-primary" id="scan1">扫一扫</a>
                </div>
                    <div class="weui-cells weui-cells_checkbox">
                    {% for key, value in options.items %}
                        <label class="weui-cell weui-check__label" for={{ key }}>
                        <div class="weui-cell__hd">
                        <input type="checkbox" class="weui-check" name={{ key }} id={{ key }}
                                {% if key == 'ball' and store_info.option.ball == 'true' %}
                                checked="checked"
                                {% elif key == 'machine' and store_info.option.machine == 'true' %}
                                checked="checked"
                                {% elif key == 'board' and store_info.option.board == 'true' %}
                                checked="checked"
                                {% elif key == 'demo' and store_info.option.demo == 'true' %}
                                checked="checked"
                                {% elif key == 'KA' and store_info.option.KA == 'true' %}
                                checked="checked"
                                {% elif key == 'KT' and store_info.option.KT == 'true' %}
                                checked="checked"
                                {% elif key == 'TV' and store_info.option.TV == 'true' %}
                                checked="checked"
                                {% elif key == 'fold' and store_info.option.fold == 'true' %}
                                checked="checked"
                                {% endif %}>
                        <i class="weui-icon-checked"></i>
                        </div>
                        <div class="weui-cell__bd">
                        <p>{{ value }}</p>
                        </div>
                        </label>
                    {% endfor %}
                    </div>
                    <input type="text" class="weui-input" id="remark" name="remark" placeholder="   请输入备注信息" value="{{ store_info.remark }}">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">上传图片</label>
                </div>
                <div class="weui-cell__bd">
                    <div class="weui-uploader">
                        <div class="weui-uploader__bd">
                            <ul class="weui-uploader__files" id="uploaderFiles" style="margin-bottom:0">
                            </ul>
                            <div class="weui-uploader__input-box">
                                <input id="uploaderInput" name="photo" class="weui-uploader__input" type="file" accept="image/*" multiple="multiple">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" name="store_id" id="store_id" value="{{ store_info.id }}">
            <div class="weui_btn_area">
                <input type="submit" class="weui-btn weui-btn_primary" value="确认">
{#                <a href="/sales/manager/shopkeeper_info?shopkeeper_id={{ store_info.shopkeeper_id }}" class="weui-btn weui-btn_default">取消</a>#}
            </div>
            <div class="weui-gallery" id="gallery">
            <span class="weui-gallery__img" id="galleryImg" style=""></span>
            <div class="weui-gallery__opr">
                <a href="javascript:" class="weui-gallery__del" id="delete">
                    <i class="weui-icon-delete weui-icon_gallery-delete"></i>
                </a>
            </div>
            </div>
        </div>
    </form>
    <div id="loadingToast" style="display:none">
        <div class="weui-mask_transparent"></div>
        <div class="weui-toast">
            <i class="weui-loading weui-icon_toast"></i>
            <p class="weui-toast__content">正在提交</p>
        </div>
    </div>
    <div class="js_dialog" id="dialog" style="display: none">
        <div class="weui-mask"></div>
        <div class="weui-dialog">
            <form action="" id="cash_form">
            <div class="weui-dialog__hd"><strong class="weui-dialog__title">输入展台序列号，区分大小写</strong></div>

            <div class="weui-dialog__hd">
{#                <div class="weui-cell__bd">#}
                      <input class="weui-input" type="text" name="serial" id="serial" required="required" placeholder="请在此输入序列号">
{#                </div>#}
            </div>
            <div class="weui-dialog__ft">
                <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default cancel">取消</a>
                <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary confirm" id="confirm">确认</a>
            </div>
            </form>
        </div>
    </div>
</body>
<script>
    $(function () {
        var $formData = new FormData();
        var photo_num = 0;
        var form = $('form#modify_store');
        $('form').h5Validate({
            errorClass: 'invalid'
        });

        form.submit(function(){
            result = form.h5Validate('allValid');
            if (!result) {
                return false;
            }

            load();
            files = $("#uploaderInput")[0].files;
            $formData.append("store_id", $("#store_id").val());
            $formData.append("name", $("#name").val());
            $formData.append("city", $("#city").val());
            $formData.append("location", $("#location").val());
            $formData.append("online", $("#online").val());
            $formData.append("exhibition", $("#exhibition").val());
{#            formData.append("agent", $("#agent").val());#}
            checkboxes = $(':checkbox');
            for (var k = 0; k < checkboxes.length; k++) {
                $formData.append(checkboxes[k].name, checkboxes[k].checked);
            }
{#            for (var j = 0; j < files.length; j++) {#}
{#                formData.append("photo" + j, files[j]);#}
{#            }#}
{#            formData.append("photo_num", files.length);#}
            $formData.append("photo_num", photo_num);
            $formData.append("machine_serial", $("#machine_serial").val());
            $formData.append("remark", $("#remark").val());
            $formData.append("manager", $("#manager").val());
            $.ajax({
                url: "/sales/manager/modify_store",
                type: "POST",
                data: $formData,
                tiemout: 15000,
                processData: false,  // 告诉jQuery不要去处理发送的数据
                contentType: false   // 告诉jQuery不要去设置Content-Type请求头
            }).done(function ( data ) {
                finish();
                if (data['result'] && data['result'] == 'success') {
                    alert("修改成功！");
                    location.href = "/sales/manager/list"
                }
                else {
                    alert(data);
                }
            }).fail(function () {
                finish();
                alert('网络超时，请确认网络环境和图片大小')
            });
            return false
        });

        var tmpl = '<li class="weui-uploader__file" id="photo#num#" style="background-image:url(#url#)"></li>',
                $gallery = $("#gallery"), $galleryImg = $("#galleryImg"),
                $uploaderInput = $("#uploaderInput"),
                $uploaderFiles = $("#uploaderFiles")
                ;

                /* Utility function to convert a canvas to a BLOB */
        var dataURLToBlob = function(dataURL) {
            var BASE64_MARKER = ';base64,';
            if (dataURL.indexOf(BASE64_MARKER) == -1) {
                var parts = dataURL.split(',');
                var contentType = parts[0].split(':')[1];
                var raw = parts[1];
                return new Blob([raw], {type: contentType});
            }
            var parts = dataURL.split(BASE64_MARKER);
            var contentType = parts[0].split(':')[1];
            var raw = window.atob(parts[1]);
            var rawLength = raw.length;

            var uInt8Array = new Uint8Array(rawLength);

            for (var i = 0; i < rawLength; ++i) {
                uInt8Array[i] = raw.charCodeAt(i);
            }

            return new Blob([uInt8Array], {type: contentType});
        };


        $uploaderInput.on("change", function(e){
            var src, url = window.URL || window.webkitURL || window.mozURL, files = e.target.files;
{#            $uploaderFiles.html('');#}
            for (var i = 0, len = files.length; i < len; ++i) {
                var file = files[i];
                // Ensure it's an image
                if(file.type.match(/image.*/)) {
                    console.log('An image has been loaded');

                    // Load the image
                    var reader = new FileReader();
                    reader.onload = function (readerEvent) {
                        var image = new Image();
                        image.onload = function (imageEvent) {

                            // Resize the image
                            var canvas = document.createElement('canvas'),
                                max_size = 600,// TODO : pull max size from a site config
                                width = image.width,
                                height = image.height;
                            if (width > height) {
                                if (width > max_size) {
                                    height *= max_size / width;
                                    width = max_size;
                                }
                            } else {
                                if (height > max_size) {
                                    width *= max_size / height;
                                    height = max_size;
                                }
                            }


                            EXIF.getData(image, function() {
                               // alert(EXIF.pretty(this));
                                EXIF.getAllTags(this);
                                //alert(EXIF.getTag(this, 'Orientation'));
                                Orientation = EXIF.getTag(this, 'Orientation');
                                //return;
                            });


                            var cxt = canvas.getContext('2d');
                            if(Orientation == 3) {
                                canvas.width = width;
                                canvas.height = height;
                                cxt.rotate(Math.PI);
                                cxt.drawImage(image, 0, 0, -width, -height);
                            }
                            else if(Orientation == 8) {
                                canvas.width = height;
                                canvas.height = width;
                                cxt.rotate(Math.PI * 3 / 2);
                                cxt.drawImage(image, 0, 0, -width, height);
                            }
                            else if(Orientation == 6) {
                                canvas.width = height;
                                canvas.height = width;
                                cxt.rotate(Math.PI / 2);
                                cxt.drawImage(image, 0, 0, width, -height);
                            }
                            else {
                                canvas.width = width;
                                canvas.height = height;
                                cxt.drawImage(image, 0, 0, width, height);
                            }
                            var dataUrl = canvas.toDataURL('image/jpeg');
                            $uploaderFiles.append($(tmpl.replace('#url#', dataUrl).replace('#num#', photo_num)));
                            var resizedImage = dataURLToBlob(dataUrl);
                            $formData.append("photo" + photo_num, resizedImage);
                            photo_num += 1;
                            $.event.trigger({
                                type: "imageResized",
                                blob: resizedImage,
                                url: dataUrl
                            });
                        };
                        image.src = readerEvent.target.result;

                    };
                    reader.readAsDataURL(file);
                }
            }
        });
        $uploaderFiles.on("click", "li", function(){
            $galleryImg.attr('data-num', this.getAttribute("id"));
            $galleryImg.attr("style", this.getAttribute("style"));
            $gallery.fadeIn(100);
        });
        $gallery.on("click", function(){
            $gallery.fadeOut(100);
        });

        $("#delete").on("click", function(){
            $num = $("#galleryImg").attr('data-num');
            $("#" + $num).remove();
{#            $formData.delete($num);#}
            $formData.append('remove'+$num, '1');
            $gallery.fadeOut(100);
        });

        $("#machine").on("click", function(){
            $("#machine_serial_div").toggle()
        });

        $("#scan").on("click", function(){
            wx.scanQRCode({
                needResult: 1, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
                scanType: ["qrCode","barCode"], // 可以指定扫二维码还是一维码，默认二者都有
                success: function (res) {
                    var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
                    var code = result.split(',')[1];
                    data = {
                      serial_num: code
                    };
                    $.post("/sales/store/store_validate", data, function(data,status){
                        console.log("Data: " + data + "\nStatus: " + status);
                        if(data=="success"){
                            $("#exhibition").val(code);
                            $("#config").show();
                        }
                        else{
                            alert("序列号无效！");
                        }
                    });
                }
            });
        });

        $("#scan1").on("click", function(){
            wx.scanQRCode({
                needResult: 1, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
                scanType: ["qrCode","barCode"], // 可以指定扫二维码还是一维码，默认二者都有
                success: function (res) {
                    var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
                    var code = result.split(',')[1];
                    $("#machine_serial").val(code);
                }
            });
        });
        function load(){
            var loadingToast = $('#loadingToast');
            if (loadingToast.css('display') != 'none') return;
            loadingToast.fadeIn();
        }
        function finish(){
            var loadingToast = $('#loadingToast');
            if (loadingToast.css('display') == 'none') return;
            loadingToast.fadeOut();
        }

        $dialog = $('#dialog');
        $dialog.on('click', '.cancel', function(){
            $(this).parents('.js_dialog').fadeOut(200);
        });

        $dialog.on('click', '.confirm', function(){
            code = $('#serial').val();
            data = {
                serial_num: code
            };
            $.post("/sales/store/store_validate", data, function(data,status){
                if(data=="success"){
                    $dialog.fadeOut(200);
                    $("#exhibition").val(code);
                    $("#config").show();
                }
                else{
                    alert("序列号无效！");
                }
            });
        });

        $("#manual").click(function(){
            $dialog.show();
        });
    });
</script>
</html>