<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/muicss/0.9.3/js/mui.min.js"></script>
    <link href="//cdn.bootcss.com/muicss/0.9.3/css/mui.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//res.wx.qq.com/open/libs/weui/1.0.2/weui.min.css"/>
    <title>销售经理门店信息</title>
    <script>
    $(function () {
        $gallery = $("#gallery");
        $galleryImg = $("#galleryImg");
        $uploaderFiles = $(".uploaderFiles");
        $uploaderFiles.on("click", "li", function(){
{#            $galleryImg.attr("style", this.getAttribute("style"));#}
            $galleryImg.css("background-image",$(this).css("background-image"));
            $gallery.fadeIn(100);
        });
        $gallery.on("click", function(){
            $gallery.fadeOut(100);
        });
    });
    </script>
    <style type="text/css">
    .sort{
        cursor:pointer
    }
    </style>
</head>
<body style="font-family: 'Microsoft YaHei UI'; padding:0 20px">
<a class="mui-btn mui-btn--raised" href="/sales/manager/export">导出CSV</a>
<table class="mui-table mui-table--bordered">
  <thead>
    <tr>
{#      <th>id</th>#}
      <th><a class="sort" href="/sales/manager/stores?sort=name">门店名称</a></th>
      <th>商家信息/th>
{#      <th>商家姓名</th>#}
{#      <th>手机号</th>#}
{#      <th>代码</th>#}
      <th><a class="sort" href="/sales/manager/stores?sort=province">地址</a></th>
      <th><a class="sort" href="/sales/manager/stores?sort=-option">配置</a></th>
      <th><a class="sort" href="/sales/manager/stores?sort=-machine_serial">样机序列号</a></th>
      <th>展台照片</th>
      <th>备注</th>
{#      <th>促销策略</th>#}
      <th><a class="sort" href="/sales/manager/stores?sort=agent">代理商</a></th>
      <th>销售经理</th>
      <th><a class="sort" href="/sales/manager/stores?sort=-sales_count">销量(有效数)</a></th>
      <th><a class="sort" href="/sales/manager/stores?sort=-created_time">创建时间</a></th>
      <th><a class="sort" href="/sales/manager/stores?sort=-online">网店地址</a></th>

    </tr>
  </thead>
  <tbody>
  {% for store in stores%}
    <tr>
{#      <td>{{ store.id }}</td>#}
      <td>{{ store.name }}<br>({{ store.code }})<</td>
      <td class="mui--text-center" style="min-width: 80px">{{ store.business_id.store }}<br>（{{ store.business_id.name }}）<br>{{ store.business_id.phone }}</td>
{#      <td style="min-width: 70px">{{ store.business_id.name }}</td>#}
{#      <td>{{ store.business_id.phone }}</td>#}
{#      <td>{{ store.code }}</td>#}
      <td>{{ store.province }} {{ store.city }} {{ store.location }}</td>
{#      <td>{{ store.exhibition }}</td>#}
      <td style="min-width: 80px">
        {% for key, value in store.option.items %}
          <span>{% if value == "true" %}{{ key }}{% endif %} </span>
        {% endfor %}
      </td>
      <td>{{ store.machine_serial }}</td>

      <td>
          {% for photo in store.photo %}
              <ul class="weui-uploader__files uploaderFiles" id="uploaderFiles" style="margin-bottom:0;min-width:270px">
                <li class="weui-uploader__file" style="width:50px;height:50px;background-image:url({{ photo }})"></li>
              </ul>
          {% endfor %}
      </td>
      <td>{{ store.remark }}</td>
{#      <td>{{ store.promotion }}</td>#}
      <td style="min-width: 100px">{{ store.agent }}</td>
      <td style="min-width: 70px">{{ store.manager.name }}<br>({{ store.manager.area }})</td>
      <td>{{ store.sales_count }}({{ store.valid_count }})</td>
      <td style="min-width: 120px">{{ store.created_time }}</td>
      <td style="max-width: 200px">{% if store.online != 'http://' %}<a href="{{ store.online }}" title="{{ store.online }}"  target="_blank">{{ store.online|truncatechars:30 }}</a>{% endif %}</td>
    </tr>
  {% endfor %}

  </tbody>
</table>
<div class="weui-gallery" id="gallery">
    <span class="weui-gallery__img" id="galleryImg" style=""></span>
    <div class="weui-gallery__opr">
    </div>
</div>
</body>

</html>