<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/h5Validate/0.9.0/jquery.h5validate.min.js"></script>
    <link rel="stylesheet" href="/static/css/global.css"/>
    <link rel="stylesheet" href="//res.wx.qq.com/open/libs/weui/1.0.2/weui.min.css"/>
    <title>奖励提现</title>
</head>
<body>
    <div class="weui-cells">
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <div class="">
                    <h4 class="weui-media-box__title">红包奖励 (<span>{{ sale_count }}</span>笔)</h4>
                    <p class="weui-cells__tips">售出的相机扫码至本系统后，<span style="color: red">12小时</span>内用户激活后，您即可获得1~10元随机金额的红包奖励。同一个手机激活多个相机时，红包奖励只会计算一次。</p>
                </div>
            </div>
            <div class="weui-cell__hd">
                <div class="weui-media-box weui-media-box_text">
                    <h4 class="weui-media-box__title">累计金额</h4>
                    <h3>￥ {{ account.base }}</h3>
                </div>
            </div>
        </div>
        {% if promotion != "" %}
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <div class="">
                    <h4 class="weui-media-box__title">门店促销</h4>
                    <p class="weui-cells__tips"><span style="color: red">{{ promotion.start_time }} ~ {{ promotion.end_time }}</span>期间，您所属门店的销售数量达到<span style="color: red">{{ promotion.benchmark }}</span>个，则您可以额外获得<span style="color: red">{{ promotion.bonus }}</span>元/台的奖励，您所在的门店目前已在此期间售出<span style="color: red">{{ store_count }}</span>台，{% if store_count >= promotion.benchmark %}已满足奖励条件。{% else %}还差<span style="color: red">{{ delta }}</span>台。{% endif %}</p>
                </div>
            </div>
            <div class="weui-cell__hd">
                <div class="weui-media-box weui-media-box_text">
                    <h4 class="weui-media-box__title">累计金额</h4>
                    <h3>￥ {{ account.bonus }}</h3>
                </div>
            </div>
        </div>
        {% else %}
         <div class="weui-cell">
            <div class="weui-cell__bd">
                <div class="">
                    <h4 class="weui-media-box__title">门店促销</h4>
                    <p class="weui-cells__tips">当前无门店促销活动</p>
                </div>
            </div>
            <div class="weui-cell__hd">
                <div class="weui-media-box weui-media-box_text">
                    <h4 class="weui-media-box__title">累计金额</h4>
                    <h3>￥ {{ account.bonus }}</h3>
                </div>
            </div>
        </div>
        {% endif %}



             <div class="weui-cell">
            <div class="weui-cell__bd">
                <div class="">
                    <h4 class="weui-media-box__title">节假日促销</h4>
                    <p class="weui-cells__tips">当前无节假日促销活动</p>
                </div>
            </div>
            <div class="weui-cell__hd">
                <div class="weui-media-box weui-media-box_text">
                    <h4 class="weui-media-box__title">累计金额</h4>
                    <h3>￥ 0</h3>
                </div>
            </div>
        </div>







    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <p>总计可提现金额：</p>
        </div>
        <div class="weui-cell__hd"><h2>￥ {{ account.balance }}</h2></div>
    </div>
    <div class="weui_btn_area">
        <a href="javascript:;" class="weui-btn weui-btn_primary" id="cash">立即提现</a>
        <a href="/sales/account/record" class="weui-btn weui-btn_default">查看提现记录</a>
    </div>
    <div class="weui-footer">
        <p class="">每次提现将会生成一个提现兑换码，请添加客服微信： <span style="font-weight: bold;">insta360_pay</span> ，发送提现兑换码，领取现金奖励</p>
    </div>
    <div class="js_dialog" id="dialog" style="display: none;">
        <div class="weui-mask"></div>
        <div class="weui-dialog">
            <form action="" id="cash_form">
            <div class="weui-dialog__hd"><strong class="weui-dialog__title">总计可提现金额： {{ account.balance }}元</strong></div>

            <div class="weui-dialog__hd">
                <div class="weui-cell weui-cell_vcode">
                <div class="weui-cell__hd"><label class="weui-label">立即提现：</label></div>
                <div class="weui-cell__bd">
{#                    <input class="weui-input" type="number" name="money" id="money" pattern="^(([1-9][0-9]*)|0|(([0]\.[1-9]{1,2}|[0]\.[1-9]{1}\d|[0]\.\d[1-9]{1}|[1-9][0-9]*\.\d{1,2})))$" required="required" placeholder="请输入金额" value="{{ account.balance }}">#}
                      <input class="weui-input" type="number" name="money" id="money" pattern="^(([1-9][0-9]*)|0|(([0]\.[0-9]{1,2}|[1-9][0-9]*\.\d{1,2})))$" required="required" placeholder="请输入金额" value="{{ account.balance }}">
                </div>
                <div class="weui-cell__hd">
                    <p>元</p>
                </div>
                </div>
            </div>
            <div class="weui-dialog__ft">
                <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default cancel">取消</a>
                <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary confirm" id="confirm">确认</a>
            </div>
            </form>
        </div>
    </div>
    <div class="js_dialog" id="iosDialog2" style="display: none;">
        <div class="weui-mask"></div>
        <div class="weui-dialog">
            <div class="weui-dialog__hd">
                <strong><span>提现兑换码：</span><span id="code"></span></strong>
                <strong><span>提现金额：</span><span id="amount"></span>元</strong>
            </div>
            <div class="weui-dialog__hd">
                请添加客服微信： <span>insta360_pay</span> ,复制并发送提现兑换码，获取现金奖励
            </div>
            <div class="weui-dialog__ft">
                <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default cancel">关闭</a>
                <a href="/sales/QR_code" class="weui-dialog__btn weui-dialog__btn_primary">添加客服微信</a>
            </div>
        </div>
    </div>
    <div id="processingToast" style="display:none">
        <div class="weui-mask_transparent"></div>
        <div class="weui-toast">
            <i class="weui-loading weui-icon_toast"></i>
            <p class="weui-toast__content">处理中</p>
        </div>
    </div>
</body>
<script>
    $(function () {
        $('form').h5Validate({
            errorClass: 'invalid'
        });

        $("div#sales").click(function(){
            location.href = "/sales/sale/sales";
            return false
        });
        $("div#clerk").click(function(){
            location.href = "/sales/clerk/info"
        });

        $dialog = $('#dialog');
        $dialog.on('click', '.cancel', function(){
            $(this).parents('.js_dialog').fadeOut(200);
        });

        $('#iosDialog2').on('click', '.cancel', function(){
            $(this).parents('.js_dialog').fadeOut(200);
            location.href = "/sales/clerk/account"
        });

        $dialog.on('click', '.confirm', function(){
            form = $("form#cash_form");
            result = form.h5Validate('allValid');
            if (!result){
                return false
            }
            else {
                $("#processingToast").show();
                $(this).parents('.js_dialog').fadeOut(200);
                money = $("money").val();
                data = form.serialize();
                $.post("/sales/account/cash", data, function(data,status){
                    $("#processingToast").hide();
                    if(data['result'] && data['result'] == 'success'){
                        $('#code').html(data['code']);
                        $('#amount').html(data['money']);
                        $('#iosDialog2').fadeIn(100);
                    }
                    else{
                        alert(data);
                    }
                });
                return false

            }
        });

        $("#cash").click(function(){
            $('#dialog').fadeIn(200)
        });

    });
</script>
</html>