<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/h5Validate/0.9.0/jquery.h5validate.min.js"></script>
    <script src="/static/js/util.js"></script>
    <link rel="stylesheet" href="/static/css/global.css"/>
    <link rel="stylesheet" href="//res.wx.qq.com/open/libs/weui/1.0.2/weui.min.css"/>
    <title>商家登录</title>
</head>
<body>
    <div class="weui-cells__title">商家登录</div>
    <form action="" id="login">
    <div class="weui-cells weui-cells_form">
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">手机号</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" id="phone" name="phone" pattern="[0-9]+" required placeholder="请输入手机号">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">密码</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" id="password" name="password" type="password" pattern="\S{6,20}" required="required"  placeholder="密码长度6-20位">
            </div>
        </div>
        <div class="weui-cell">

        </div>
        <div class="weui_btn_area" style="margin-top:100px">
            <input type="submit" class="weui-btn weui-btn_primary register_submit" value="登录">
            <a href="/sales/shopkeeper/register" class="weui-btn weui-btn_default">注册</a>
        </div>
    </div>
    </form>
    <div>
        <p id="tip"></p>
    </div>
    <div class="weui-footer weui-footer_fixed-bottom">
        <p class="weui-footer__links">
            <a href="/sales/shopkeeper/reset" class="weui-footer__link">忘记密码</a>
        </p>
    </div>
</body>
<script>
    $(function () {
        footer = $(".weui-footer");
        footer.css('top', ($(document).height() - footer.height()) + "px");
        var form = $('form#login');
        $('form').h5Validate({
            errorClass: 'invalid'
        });
        wx_code = getQueryString('code');
        form.submit(function(){
            result = form.h5Validate('allValid');
            if (!result) {
                return false;
            }
            data = $('form#login').serialize();
            data += '&wx_code='+ wx_code;
            $.post("/sales/shopkeeper/login", data, function(data,status){

              console.log("Data: " + data + "\nStatus: " + status);
              if(data=="success"){
                  $("#tip").text('登录成功！');
                location.href = "/sales/shopkeeper/info"
              }
              else {
                  $("#tip").text(data);
              }
            });
            return false
        });
    });
</script>
</html>