<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="/static/js/config.js"></script>
    <link rel="stylesheet" href="/static/css/global.css"/>
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="//res.wx.qq.com/open/libs/weui/1.0.2/weui.min.css"/>
    <title>扫描商品</title>
</head>
<body>
    <div class="button-sp-area" style="margin:40% auto;width: 60%">
        <a href="" class="weui-btn weui-btn_plain-primary" id="scan">扫一扫</a>
        <a href="" class="weui-btn weui-btn_plain-primary" id="test">测试扫一扫</a>
        <a href="" class="weui-btn weui-btn_plain-default" id="close" style="margin-top:40%">关闭页面</a>
    </div>
    <div id="loadingToast" style="display:none">
        <div class="weui-mask_transparent"></div>
        <div class="weui-toast">
            <i class="weui-loading weui-icon_toast"></i>
            <p class="weui-toast__content">加载中</p>
        </div>
    </div>
    <div id="processingToast" style="display:none">
        <div class="weui-mask_transparent"></div>
        <div class="weui-toast">
            <i class="weui-loading weui-icon_toast"></i>
            <p class="weui-toast__content">处理中</p>
        </div>
    </div>
</body>
<script>
    $(function () {
{#        wx.ready(function(){#}
{#            $("#loadingToast").hide();#}
{#            wx.scanQRCode({#}
{#                needResult: 1, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，#}
{#                scanType: ["qrCode", "barCode"], // 可以指定扫二维码还是一维码，默认二者都有#}
{#                success: function (res) {#}
{#                    var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果#}
{#                    serial = result.split(',')[1];#}
{#                    sale(serial);#}
{#                }#}
{#            });#}
{#        });#}

        $("#scan").click(function(){
            wx.ready(function(){
                wx.scanQRCode({
                    needResult: 1, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
                    scanType: ["qrCode", "barCode"], // 可以指定扫二维码还是一维码，默认二者都有
                    success: function (res) {
                        var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
                        serial = result.split(',')[1];
                        sale(serial);
                    }
                });
            });
            return false
        });

        $("#test").click(function(){
            wx.ready(function(){
                wx.scanQRCode({
                    needResult: 1, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
                    scanType: ["qrCode", "barCode"], // 可以指定扫二维码还是一维码，默认二者都有
                    success: function (res) {
                        var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
                        serial = result.split(',')[1];
                        test_sale(serial);
                    }
                });
            });
            return false
        });

        $("#close").click(function(){
            wx.closeWindow();
            return false
        });


        function sale (serial){
            $("#processingToast").show();
            data = {
                serial: serial
            };
            $.post("/sales/sale/scan", data, function(data,status){
                  $("#processingToast").hide();
                  if(data=="success"){
                      location.href = "/sales/sale/sales"
                  }
                  else {
                      alert(data);
                  }
            });
        }


        function test_sale (serial){
            $("#processingToast").show();
            data = {
                serial: serial
            };
            $.post("/sales/sale/test", data, function(data,status){
                  $("#processingToast").hide();
                  if(data=="success"){
                      location.href = "/sales/sale/sales"
                  }
                  else {
                      alert(data);
                  }
            });
        }
    });

</script>
</html>