<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <script src="{{ lib_path }}/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="/static/js/config.js"></script>
    <link rel="stylesheet" href="/static/css/global.css"/>
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="//res.wx.qq.com/open/libs/weui/1.0.2/weui.min.css"/>
    <title>扫描商品</title>
</head>
<body>
    <div class="button-sp-area" style="margin:40% auto;width: 60%">
        <a href="" class="weui-btn weui-btn_plain-primary" id="test">测试扫一扫</a>
    </div>
</body>
<script>
    $(function () {
        wx.ready(function(){
{#            $("#test").click(function(){#}
{#            wx.ready(function(){#}
{#                wx.scanQRCode({#}
{#                    needResult: 1, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，#}
{#                    scanType: ["qrCode", "barCode"], // 可以指定扫二维码还是一维码，默认二者都有#}
{#                    success: function (res) {#}
{#                        var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果#}
{#                        serial = result.split(',')[1];#}
{#                        alert(serial)#}
{#                    }#}
{#                });#}
{#            });#}
{#            return false#}
{#        });#}
        });


        $("#test").click(function(){
            wx.ready(function(){
                wx.scanQRCode({
                    needResult: 1, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
                    scanType: ["qrCode", "barCode"], // 可以指定扫二维码还是一维码，默认二者都有
                    success: function (res) {
                        var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
                        serial = result.split(',')[1];
                        alert(serial)
                    }
                });
            });
            return false
        });


    });

</script>
</html>