<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/muicss/0.9.3/js/mui.min.js"></script>
    <link href="//cdn.bootcss.com/muicss/0.9.3/css/mui.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//res.wx.qq.com/open/libs/weui/1.0.2/weui.min.css"/>
    <title>国内转国际序列号列表</title>
    <style type="text/css">
        td {
            min-width: 70px;
        }
    </style>
</head>
<body style="min-width:1400px;font-family: 'Microsoft YaHei UI'; padding:0 20px">
{% extends "bi/navigation.html" %}
{% block title %}国内转国际序列号列表{% endblock %}
{% block content %}
<table class="mui-table mui-table--bordered">
 <thead>
    <tr>
        <th></th>
        <th colspan=2 class="mui--text-center">基本信息</th>
        <th colspan=4 class="mui--text-center">出货信息</th>
        <th colspan=4 class="mui--text-center">代理商信息</th>
        <th colspan=3 class="mui--text-center">门店售出信息</th>
    </tr>
  </thead>
  <thead>
    <tr>
        <th>序号</th>
        <th><a class="sort" href="/sales/bi/inter_list?sort=id">序列号</a></th>
        <th>转换时间</th>
        <th>出货日期</th>
        <th><a class="sort" href="/sales/bi/inter_list?sort=agent">代理商</a></th>
        <th>出货人</th>
        <th>备注</th>
        <th>公司</th>
        <th>编号</th>
        <th>名称</th>
        <th>销售经理</th>
        <th>门店名称</th>
{#        <th>商家名称</th>#}
        <th>售出时间</th>
{#        <th>销售经理</th>#}
        <th>激活状态</th>
    </tr>
  </thead>
  <tbody>
  {% for serial in serials%}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ serial.id }}</td>
      <td>{{ serial.update_time }}</td>
      <td>{{ serial.factory.sale_data }}</td>
      <td>{{ serial.factory.consumer }}</td>
      <td>{{ serial.factory.shipper }}</td>
      <td>{{ serial.factory.remark }}</td>
      <td>{{ serial.agent.company }}</td>
      <td>{{ serial.agent.custom_number }}</td>
      <td>{{ serial.agent.custom_name }}</td>
      <td>{{ serial.agent.manager }}</td>
      <td>{{ serial.sale.store.name }}</td>
{#      <td>{{ serial.sale.business.store }}</td>#}
      <td>{{ serial.sale.created_time }}</td>
{#      <td>{{ serial.sale.manager.name }}</td>#}
      <td>{% if serial.active_info.active == 1 %}已激活({{ serial.active_info.active_location }}){% else %}未激活{% endif %}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<div class="mui-container-fluid page_tool">
    <form action="/sales/bi/inter_list?sort={{ data.sort }}">
        <a href="/sales/bi/inter_list?page=1&sort={{ data.sort }}" class="mui-btn mui-btn--small mui-btn--raised mui-btn--primary">首页</a>
        <a href="/sales/bi/inter_list?page={{ data.current_page|add:"-1"}}&sort={{ data.sort }}" class="mui-btn mui-btn--small mui-btn--raised mui-btn--primary">上页</a>
        <span class="currentPage">{{ data.current_page }}</span> / <span class="totalPage">{{ data.page_total }}</span>
        <a href="/sales/bi/inter_list?page={{ data.current_page|add:"1"}}&sort={{ data.sort }}" class="mui-btn mui-btn--small mui-btn--raised mui-btn--primary">下页</a>
        <a href="/sales/bi/inter_list?page={{ data.page_total }}&sort={{ data.sort }}" class="mui-btn mui-btn--small mui-btn--raised mui-btn--primary">尾页</a>
        <span>跳转到第</span>
        <input id="skip" type="number" pattern="[0-9]+" name="page" style="width:70px" class="skip">
        <span>页</span>
        <input type="submit" class="mui-btn mui-btn--small mui-btn--raised mui-btn--primary" value="GO">
        <span> 总计 </span><span>{{ data.total }}</span><span> 条</span>
    </form>
</div>
{% endblock %}
</body>
<script>
</script>
</html>