<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/h5Validate/0.9.0/jquery.h5validate.min.js"></script>
    <link rel="stylesheet" href="{{ lib_path }}/static/css/global.css"/>
    <link rel="stylesheet" href="//res.wx.qq.com/open/libs/weui/1.0.2/weui.min.css"/>
    <title>供货门店列表</title>
</head>
<body>
<div class="weui-cells">
    {% for store in store_list %}
    <a class="weui-cell weui-cell_access detail" href="/sales/agent/sales?store_id={{ store.id }}">
        <div class="weui-cell__bd">
            <p><span>商户名称: </span><span>{{ store.business.store }}</span></p>
            <p><span>手机号码: </span><span>{{ store.business.phone }}</span></p>
            <p><span>门店名称: </span><span>{{ store.name }}</span></p>
            <p><span>门店地址: </span><span>{{ store.province }} {{ store.city }} {{ store.location }}</span></p>
        </div>
        <div class="weui-cell__ft">
        </div>
    {% endfor %}
    </a>
</div>
</body>
</html>