<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <script src="{{ lib_path }}/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/h5Validate/0.9.0/jquery.h5validate.min.js"></script>
    <link rel="stylesheet" href="/static/css/global.css"/>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_2eo5uqijf9zr529.css"/>
    <link rel="stylesheet" href="//res.wx.qq.com/open/libs/weui/1.0.2/weui.min.css"/>
    <title>供货门店列表</title>
</head>
<body style="padding: 0 0 !important;">
<div class="weui-cells" style="margin-top: 0">
    {% for store in store_list %}
    <a class="weui-cell weui-cell_access detail" href="/sales/agent/sales?store_id={{ store.id }}">
        <div class="weui-cell__bd">
            <p><span>商户名称: </span><span>{{ store.business.store }}</span></p>
            <p><span>手机号码: </span><span>{{ store.business.phone }}</span></p>
            <p><span>门店名称: </span><span>{{ store.name }}</span></p>
            <p><span>门店地址: </span><span>{{ store.province }} {{ store.city }} {{ store.location }}</span></p>
        </div>
        <div class="weui-cell__ft">
        </div>
    </a>
    {% endfor %}
    <div style="height:50px"></div>
</div>
<div class="weui-tabbar" style="position:fixed">
    <a href="javascript:;" class="weui-tabbar__item weui-bar__item_on">
        <i class="iconfont  icon-dian"></i>
        <p class="weui-tabbar__label">供货门店销售详情</p>
    </a>
    <a href="/sales/agent/search" class="weui-tabbar__item">
        <i class="iconfont icon-xianchangcangku"></i>
        <p class="weui-tabbar__label">货品销售情况搜索</p>
    </a>
</div>
</body>
<script>
</script>
</html>