<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <script src="//cdn.bootcss.com/muicss/0.9.3/js/mui.min.js"></script>
    <link href="//cdn.bootcss.com/muicss/0.9.3/css/mui.min.css" rel="stylesheet">
    <title>Insta360 提现查询系统</title>
</head>
<body>
<div class="mui--text-center">
    <form action="" class="mui-form--inline">
      <div class="mui-textfield">
        <input type="text" name="code"  placeholder="请输入提现兑换码">
      </div>
      <button class="mui-btn mui-btn--raised mui-btn--primary">查询</button>
    </form>
</div>

{#<table class="mui-table mui-table--bordered">#}
{#  <thead>#}
{#    <tr>#}
{#      <th>门店id</th>#}
{#      <th>门店名称</th>#}
{#      <th>地理位置</th>#}
{#    </tr>#}
{#  </thead>#}
{#  <tbody>#}
{#  {% for store in store_list|dictsort:"province" %}#}
{#    <tr>#}
{#      <td>{{ store.id }}</td>#}
{#      <td>{{ store.name }}</td>#}
{#      <td>{{ store.province }} {{ store.city }} {{ store.location }}</td>#}
{#    </tr>#}
{#    {% endfor %}#}
{#  </tbody>#}
{#</table>#}
</body>
</html>