<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/muicss/0.9.3/js/mui.min.js"></script>
    <link href="//cdn.bootcss.com/muicss/0.9.3/css/mui.min.css" rel="stylesheet">
    <title>云播首页管理</title>
    <script>
    $(function () {
        $('#save').click(function () {
            var $sites = $('.site');
            var data = [];
            for(var i=0;i<$sites.length;i++){
                data.push($sites[i].value)
            }
            data = JSON.stringify(data);
            console.log(data);
            $.post("/sales/service/cloud_home", data, function(data,status){
                alert(data);
            });
        });

        $('.preview').click(function (){
            var $a_id = $(this).attr('id');
            var $input_id = $a_id.replace('a', 'input');
            var link = $('#'+$input_id).val();
            $(this).attr('href',link)
        })
    });
    </script>

</head>
<body>
{% extends "service/navigation.html" %}
{% block title %}云播首页管理
{% endblock %}
{% block content %}
<button class="mui-btn mui-btn--raised mui-btn--accent" id="save">保存</button>
<table class="mui-table mui-table--bordered">
  <thead>
    <tr>
        <th>序号</th>
        <th>内容</th>
        <th></th>
    </tr>
  </thead>
  <tbody>
  {% for record in records%}
    <tr>
        <td>{{ record.sort_value }}</td>
        <td>
            <div class="mui-textfield">
                <input id="input{{ forloop.counter }}" class="site" type="text" required="required" onfocus="this.select()" value="{{ record.page_url }}">
            </div>
        </td>
        <td>
            <a target="_blank" id="a{{ forloop.counter }}" class="mui-btn mui-btn--raised mui-btn--primary preview">预览</a>
        </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
</body>

</html>