<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/muicss/0.9.3/js/mui.min.js"></script>
    <link href="//cdn.bootcss.com/muicss/0.9.3/css/mui.min.css" rel="stylesheet">
    <title>解绑云播账户序列号</title>
    <script>
    $(function () {
        $('#unbind').click(function () {
            var serial_number = $('#serial_number').text();
            data = {
                'serial_number': serial_number
            };
            $.post("/sales/service/unbind_cloud", data, function(data,status){
                $("#tip").text(data);
                if (data == '解绑成功') {
                    $("#bind_div").hide()
                }
            });
        })
    });
    </script>
</head>
<body>
{% extends "service/navigation.html" %}
{% block title %}解绑云播账户序列号{% endblock %}
{% block content %}
 <div class="mui--text-center" style="margin-top:50px">
    <form action="/sales/service/cloud_query" method="post" class="mui-form--inline" id="cloud_query">
      <div class="mui-textfield">
        <input type="text" name="words" required="required" placeholder="邮箱/序列号">
      </div>
      <button class="mui-btn mui-btn--raised mui-btn--primary">查询云播账号</button>
    </form>
</div>
    {% if exsit == 1 %}
    <div class="mui--align-middle" style="max-width:500px;margin: 100px auto;font-size:16px">
<table class="mui-table mui-table--bordered">
  <tbody>
    <tr>
      <td><strong>邮箱</strong></td>
      <td>{{ record.email }}</td>
    </tr>
    <tr>
      <td><strong>昵称</strong></td>
      <td>{{ record.nickname }}</td>
    </tr>
    <tr>
      <td><strong>绑定序列号</strong></td>
      <td>
          <div id="bind_div">
          <span id="serial_number">{{ record.bind_info }}</span>
          {% if record.bind_info != ''%}
              <button class="mui-btn mui-btn--raised mui-btn--primary" id="unbind">解绑</button>
          {% endif %}
          </div>
      </td>

    </tr>
    <tr>
      <td><strong>激活状态</strong></td>
      <td>{{ record.active_state }}</td>
    </tr>
    <tr>
      <td><strong>优酷绑定状态</strong></td>
      <td>{{ record.youku_bind_state }}</td>
    </tr>
    <tr>
      <td><strong>注册时间</strong></td>
      <td>{{ record.register_time }}</td>
    </tr>
  </tbody>
</table>
    </div>
{% elif exsit == 0%}
    <div class="mui--text-center" style="margin-top:100px">
    <h2 style="color:red"><strong>账号不存在</strong></h2>
    </div>
{% endif %}
 <div class="mui--text-center" style="margin-top:30px">
    <h2 style="color:red"><strong id="tip"></strong></h2>
 </div>
{% endblock %}
</body>
</html>