<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <script src="//static.insta360.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/muicss/0.9.3/js/mui.min.js"></script>
    <script src="//cdn.bootcss.com/moment.js/2.15.2/moment.min.js"></script>
    <script src="//cdn.bootcss.com/pikaday/1.5.1/pikaday.min.js"></script>
    <link href="//cdn.bootcss.com/muicss/0.9.3/css/mui.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/pikaday/1.5.1/css/pikaday.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//res.wx.qq.com/open/libs/weui/1.0.2/weui.min.css"/>
    <title>促销管理</title>
    <script>
    $(function () {
{#        $gallery = $("#gallery");#}
{#        $galleryImg = $("#galleryImg");#}
{#        $uploaderFiles = $(".uploaderFiles");#}
{#        $uploaderFiles.on("click", "li", function(){#}
{#            $galleryImg.css("background-image",$(this).css("background-image"));#}
{#            $gallery.fadeIn(100);#}
{#        });#}
{#        $gallery.on("click", function(){#}
{#            $gallery.fadeOut(100);#}
{#        });#}
        var start_time = document.getElementById('start_time');
        var end_time = document.getElementById('end_time');
        var picker1 = new Pikaday(
                {
                    field: start_time,
                    format: 'YYYY-MM-DD',
                    onSelect: function () {
                    }
                });
        var picker2 = new Pikaday(
                {
                    field: end_time,
                    format: 'YYYY-MM-DD',
                    onSelect: function () {
                    }
                });
        var $promotion = $('#promotion');
        $('#make_promotion').on("click", function(){
            $promotion.show();
        });
        $('#cancel').on("click", function(){
            $promotion.hide();
            return false
        });
        var $form = $('form#form_promotion');
        $form.submit(function(){
            var data = $form.serialize();
            $.post("", data, function(data,status){
                if(data == 'success'){
                    $promotion.hide();
                    alert('成功添加促销');
                    location.reload()
                }
                else {
                    alert(data)
                }
            });
            return false
        });

        var $apply = $('form#apply');
        $apply.submit(function(){
            var data = $apply.serialize();
            $.post("/sales/admin/apply", data, function(data,status){
                if(data == 'success'){
                    alert('成功应用促销');
                }
                else {
                    alert(data)
                }
            });
            return false
        });
    });
    </script>
    <style type="text/css">
        .sort{
            cursor:pointer
        }
        #promotion{
            width:800px;
            height:500px;
            position:fixed;
            background:floralwhite;
            margin-top: -250px;
            top:50%;
            left:50%;
            margin-left: -400px;
            display: none;
        }
    </style>
</head>
<body>
{% extends "admin/navigation.html" %}
{% block title %}促销管理{% endblock %}
{% block content %}
    <button class="mui-btn mui-btn--raised mui-btn--accent" id="make_promotion">添加促销策略</button>

    <div id="promotion">
        <form class="mui-form--inline" style="margin-top:50px" id="form_promotion">

            <div class="mui-container-fluid">
                <div class="mui-row">
                   <div class="mui-col-md-12">
                       <div class="mui-textfield">
                          <label>促销名称</label>
                          <input type="text" required="required" name="name">
                       </div>
                   </div>
                </div>
                <div class="mui-row">
                    <div class="mui-col-md-6">
                    <div class="mui-textfield">
                    <input type="number" required="required" pattern="^(([1-9][0-9]*)|0)$" name="benchmark">
                    <label>一级梯度</label>
                    </div>
                    </div>
                    <div class="mui-col-md-6">
                    <div class="mui-textfield">
                    <input type="text" required="required" pattern="^(([1-9][0-9]*)|0|(([0]\.[0-9]{1,2}|[1-9][0-9]*\.\d{1,2})))$" name="bonus">
                    <label>一级奖励</label>
                    </div>
                    </div>
                </div>
                <div class="mui-row">
                    <div class="mui-col-md-6">
                    <div class="mui-textfield">
                    <input type="number" required="required" pattern="^(([1-9][0-9]*)|0)$" name="benchmark1">
                    <label>二级梯度</label>
                    </div>
                    </div>
                    <div class="mui-col-md-6">
                    <div class="mui-textfield">
                    <input type="text" required="required" pattern="^(([1-9][0-9]*)|0|(([0]\.[0-9]{1,2}|[1-9][0-9]*\.\d{1,2})))$" name="bonus1">
                    <label>二级奖励</label>
                    </div>
                    </div>
                </div>
                <div class="mui-row">
                <div class="mui-col-md-6">
                <div class="mui-textfield">
                <input type="number" required="required" pattern="^(([1-9][0-9]*)|0)$" name="benchmark2">
                <label>三级梯度</label>
                </div>
                </div>
                <div class="mui-col-md-6">
                <div class="mui-textfield">
                <input type="text" required="required" pattern="^(([1-9][0-9]*)|0|(([0]\.[0-9]{1,2}|[1-9][0-9]*\.\d{1,2})))$" name="bonus2">
                <label>三级奖励</label>
                </div>
                </div>
                </div>
                <div class="right">
                  <div class="mui-textfield right">
                    <label for="start_time">From</label>
                    <input style="" type="text" required="required" id="start_time" name="start_time" placeholder="开始时间">
                  </div>
                    <div class="mui-textfield right" style="">
                    <label for="end_time">To</label>
                    <input style="" type="text" required="required" id="end_time" name="end_time" placeholder="结束时间">
                      </div>
                </div>
                <div class="mui-row">
                <div class="mui-col-md-3"></div>
                <div class="mui-col-md-3">
                <button class="mui-btn mui-btn--raised mui-btn--danger" id="cancel">取消</button>
                </div>
                <div class="mui-col-md-3">
                <button class="mui-btn mui-btn--raised mui-btn--primary">确认</button>
                </div>
                <div class="mui-col-md-3"></div>
                </div>
            </div>
        </form>
    </div>
<table class="mui-table mui-table--bordered">
  <thead>
    <tr>
        <th>促销名称</th>
        <th>开始</th>
        <th>结束</th>
        <th>一级梯度</th>
        <th>二级梯度</th>
        <th>三级梯度</th>
        <th>一级奖励</th>
        <th>二级奖励</th>
        <th>三级奖励</th>
        <th>创建时间</th>
    </tr>
  </thead>
  <tbody>
  {% for promotion in promotions%}
    <tr>
      <td>{{ promotion.name }}</td>
      <td>{{ promotion.start_time }}</td>
      <td>{{ promotion.end_time }}</td>
      <td>{{ promotion.benchmark }}</td>
      <td>{{ promotion.benchmark1 }}</td>
      <td>{{ promotion.benchmark2 }}</td>
      <td>￥{{ promotion.bonus }}</td>
      <td>￥{{ promotion.bonus1 }}</td>
      <td>￥{{ promotion.bonus2 }}</td>
      <td>{{ promotion.created_time }}</td>
   </tr>
  {% endfor %}

  </tbody>
</table>
<form action="/sales/admin/apply" id="apply">
    <button class="mui-btn mui-btn--raised mui-btn--accent" id="save">保存</button>
</form>
<table class="mui-table mui-table--bordered">
  <thead>
    <tr>
{#      <th>id</th>#}
      <th>促销</th>
      <th><a class="sort" href="/sales/admin/promotion?sort=name">门店名称</a></th>
      <th>商家名称</th>
{#      <th>商家姓名</th>#}
{#      <th>手机号</th>#}
{#      <th>代码</th>#}
      <th><a class="sort" href="/sales/admin/promotion?sort=province">线下地址</a></th>
      <th><a class="sort" href="/sales/admin/promotion?sort=-option">配置</a></th>
      <th><a class="sort" href="/sales/admin/promotion?sort=-machine_serial">样机序列号</a></th>
{#      <th>展台照片</th>#}
{#      <th>备注</th>#}
      <th><a class="sort" href="/sales/admin/promotion?sort=agent">代理商</a></th>
      <th><a class="sort" href="/sales/admin/promotion?sort=manager">销售经理</a></th>
      <th><a class="sort" href="/sales/admin/promotion?sort=-sales_count">累计销量</a></th>
      <th><a class="sort" href="/sales/admin/promotion?sort=-created_time">创建时间</a></th>
      <th><a class="sort" href="/sales/admin/promotion?sort=-online">网店地址</a></th>
    </tr>
  </thead>
  <tbody>
  {% for store in stores%}
    <tr>
        <td style="min-width: 140px">

          <div class="mui-select">
            <select name="{{ store.id }}" form="apply">
                <option value="">无促销</option>
                {% for promotion in promotions%}
                  <option value="{{ promotion.id }}" {% if store.promotion == promotion.id %}selected="selected"{% endif %}>{{ promotion.name }}</option>
                {% endfor %}
            </select>
          </div>
        </td>
{#      <td>{{ store.id }}</td>#}
      <td>{{ store.name }}</td>
      <td style="min-width: 80px">{{ store.business_id.store }}</td>
{#      <td style="min-width: 70px">{{ store.business_id.name }}</td>#}
{#      <td>{{ store.business_id.phone }}</td>#}
{#      <td>{{ store.code }}</td>#}
      <td>{{ store.province }} {{ store.city }} {{ store.location }}</td>
{#      <td>{{ store.exhibition }}</td>#}
      <td style="min-width: 80px">
        {% for key, value in store.option.items %}
          <span>{% if value == "true" %}{{ key }}{% endif %} </span>
        {% endfor %}
      </td>
      <td>{{ store.machine_serial }}</td>
{#      <td>{{ store.agent }}</td>#}
{#      <td>#}
{#          {% for photo in store.photo %}#}
{#              <ul class="weui-uploader__files uploaderFiles" id="uploaderFiles" style="margin-bottom:0;min-width:270px">#}
{#                <li class="weui-uploader__file" style="height:50px;width:50px;background-image:url({{ photo }})"></li>#}
{#              </ul>#}
{#          {% endfor %}#}
{#      </td>#}
{#      <td>{{ store.remark }}</td>#}
      <td style="min-width: 100px">{{ store.agent }}</td>
      <td style="min-width: 70px">{{ store.manager.name }}<br>({{ store.manager.area }})</td>
      <td>{{ store.sales_count }}</td>
      <td style="min-width: 120px">{{ store.created_time }}</td>
      <td style="max-width: 500px">{% if store.online != 'http://' %}<a href="{{ store.online }}" title="{{ store.online }}"  target="_blank">{{ store.online|truncatechars:30 }}</a>{% endif %}</td>
    </tr>
  {% endfor %}

  </tbody>
</table>
<div class="weui-gallery" id="gallery">
    <span class="weui-gallery__img" id="galleryImg" style=""></span>
    <div class="weui-gallery__opr">
    </div>
</div>
<div class="mui-container-fluid page_tool">
    <form action="/sales/admin/promotion?sort={{ data.sort }}">
        <a href="/sales/admin/promotion?page=1&sort={{ data.sort }}" class="mui-btn mui-btn--small mui-btn--raised mui-btn--primary">首页</a>
        <a href="/sales/admin/promotion?page={{ data.current_page|add:"-1"}}&sort={{ data.sort }}" class="mui-btn mui-btn--small mui-btn--raised mui-btn--primary">上页</a>
        <span class="currentPage">{{ data.current_page }}</span> / <span class="totalPage">{{ data.page_total }}</span>
        <a href="/sales/admin/promotion?page={{ data.current_page|add:"1"}}&sort={{ data.sort }}" class="mui-btn mui-btn--small mui-btn--raised mui-btn--primary">下页</a>
        <a href="/sales/admin/promotion?page={{ data.page_total }}&sort={{ data.sort }}" class="mui-btn mui-btn--small mui-btn--raised mui-btn--primary">尾页</a>
        <span>跳转到第</span>
        <input id="skip" type="number" pattern="[0-9]+" name="page" style="width:70px" class="skip">
        <span>页</span>
        <input type="submit" class="mui-btn mui-btn--small mui-btn--raised mui-btn--primary" value="GO">
        <span> 总计 </span><span>{{ data.total }}</span><span> 条</span>
    </form>
</div>
{% endblock %}
</body>

</html>